<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.artsoftheinsane.periodic-daily</string>
		<key>ServiceDescription</key>
		<string>Makes a backup of users homedir</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/blomma/Opt/Backup/backup.sh</string>
		</array>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>10</integer>
		</dict>
	</dict>
</plist>
